@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sriracha&display=swap');

#blocklyDiv {
    position: relative;
    overflow: hidden;
    /* 🔥 */
}

.blockly-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
}


.blocklyToolbox {
    background-color: #f4f4f4;
    min-width: 200px;
    position: fixed !important;
    height: calc(100% - 70px) !important;
}

/* Chrome, Edge, Safari */
.blocklyToolbox::-webkit-scrollbar {
    width: 16px !important;
}

.blocklyToolbox::-webkit-scrollbar-track {
    background: #e8f5e9 !important;
    /* เขียวอ่อน */
}

.blocklyToolbox::-webkit-scrollbar-thumb {
    background-color: #77af5a !important;
    /* เขียว */
    border-radius: 8px;
    border: 2px solid #e8f5e9 !important;
}

.blocklyToolbox::-webkit-scrollbar-thumb:hover {
    background-color: #388E3C !important;
}

/* Firefox */
.blocklyToolbox {
    scrollbar-width: 16px;
    scrollbar-color: #77af5a #e8f5e9;
}

.blocklyToolboxCategory {
    outline: none !important;
    color: #77af5a !important;
    font-family: 'Prompt' !important;
    font-weight: bold;
    height: 42px !important;
    display: flex;
    align-items: center;
    padding: 0 !important;
    padding-right: 12px !important;
    text-align: left;
    margin: 0;
    border: none !important;
    border-bottom: #00000022 1px solid !important;
}

.blocklyToolboxCategoryContainer .blocklyToolboxCategoryGroup .blocklyToolboxCategoryContainer .blocklyTreeRowContentContainer .blocklyToolboxCategoryLabel {
    color: #444444 !important;
}

.blocklyToolboxCategoryContainer .blocklyToolboxCategoryGroup {
    background: #e8e8e8 !important;
}

.blocklyToolboxCategoryContainer .blocklyToolboxCategoryGroup .blocklyToolboxCategory:hover {
    filter: brightness(0.75) !important;
}

.blocklyToolboxCategoryLabel {
    font-family: 'Prompt' !important;
    font-weight: 500 !important;
    font-size: 1.1em !important;
}

.blocklyToolboxCategoryContainer .blocklyToolboxCategoryGroup .blocklyToolboxSelected {
    background-color: #cccccc !important;
    color: #ffffff !important;
    border-bottom: #cccccc 1px solid !important;
    outline: none !important;
}

.blocklyToolboxCategorySelected {
    background-color: #77af5a !important;
    color: #ffffff !important;
    border-bottom: #539a2f 1px solid !important;
    outline: none !important;
}

.blocklyToolboxCategory:hover {
    filter: drop-shadow(0 0 0.2em #77af5a88);
    cursor: pointer;
}

.blocklyTreeRowContentContainer {
    height: 100% !important;
    display: flex;
    align-items: center;
    gap: 8px;
}

.blocklyToolboxCategoryIcon {
    width: 18px !important;
    height: 18px !important;
}

.blocklySvg {
    position: fixed !important;
}

.blocklyScrollbarHorizontal {
    transform: translate(0, 0) !important;
    position: fixed;
    right: 0;
    bottom: 0;
}

.blocklyScrollbarVertical {
    transform: translate(0, 0) !important;
    position: fixed;
    right: 0;
    bottom: 0;
}

.injectionDiv {
    background: white;
}

.icon_category {
    height: 42px;
    width: 42px;
    /* background-image: url("/icon/hslogo.png"); */
    background-color: #77af5a;
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: #539a2f 1px solid !important;
    display: inline-block;
}

.icon_list {
    height: 42px;
    width: 42px;
    /* background-image: url("/icon/hslogo.png"); */
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.i-hslogo {
    background-image: url("/icon/hslogo.png");
}

.i-solution {
    background-image: url("/icon/aiiii.png");
}

.i-sensor {
    background-image: url("/icon/icons8_thermometer_96px.png");
}

.i-analog {
    background-image: url("/icon/analog.png");
}

.i-electronic {
    background-image: url("/icon/sw12x12.png");
}

.i-gpio {
    background-image: url("/icon/icons8_electronics_96px.png");
}

.i-variables {
    background-image: url("/icon/icons8_variable_96px.png");
}

.i-math {
    background-image: url("/icon/calculator.png");
}

.i-text {
    background-image: url("/icon/texttt.png");
}

.i-functions {
    background-image: url("/icon/functionnn.png");
}

.i-logiccc {
    background-image: url("/icon/logiccc.png");
}

.i-loop {
    background-image: url("/icon/icons8_repeat_96px.png");
}

.i-task {
    background-image: url("/icon/taskkk.png");
}

.i-time {
    background-image: url("/icon/icons8_Story_Time_96px.png");
}

.i-cronjob {
    background-image: url("/icon/schedule.png");
}

.i-wifi {
    background-image: url("/icon/wifiii.png");
}

.i-bluetooth {
    background-image: url("/icon/bttt.png");
}

.i-serial {
    background-image: url("/icon/serialll.png");
}

.i-cloud {
    background-image: url("/icon/nnn-cloud.png");
}

.i-l-netpie {
    background-image: url("/icon/netpie-logo.png");
    /* filter: grayscale(); */
    scale: 0.75;
}

.i-l-magellan {
    background-image: url("/icon/icon-magellan.png");
    /* filter: grayscale(); */
    scale: 0.75;
}

.i-l-thingspeak {
    background-image: url("/icon/icons8_thinkspeak.png");
    /* filter: grayscale(); */
    scale: 0.75;
}

.i-l-awd {
    background-image: url("/icon/list/awd.png");
    /* filter: grayscale(); */
    scale: 0.75;
}

.i-l-etc {
    background-image: url("/icon/list/etc.png");
    /* filter: grayscale(); */
    scale: 0.75;
}

.i-l-fertilizer {
    background-image: url("/icon/list/fertilizer.png");
    /* filter: grayscale(); */
    scale: 0.75;
}

.i-l-co2 {
    background-image: url("/icon/list/co2.png");
    /* filter: grayscale(); */
    scale: 0.75;
}

.i-l-humidity {
    background-image: url("/icon/list/humidity.png");
    /* filter: grayscale(); */
    scale: 0.75;
}

.i-l-light {
    background-image: url("/icon/list/sun.png");
    /* filter: grayscale(); */
    scale: 0.75;
}

.i-l-ph {
    background-image: url("/icon/list/ph.png");
    /* filter: grayscale(); */
    scale: 0.75;
}

.i-l-pressure {
    background-image: url("/icon/list/pressure.png");
    /* filter: grayscale(); */
    scale: 0.75;
}

.i-l-rain {
    background-image: url("/icon/list/rain.png");
    /* filter: grayscale(); */
    scale: 0.75;
}

.i-l-temp {
    background-image: url("/icon/list/temp.png");
    /* filter: grayscale(); */
    scale: 0.75;
}

.i-l-weight {
    background-image: url("/icon/list/weight.png");
    /* filter: grayscale(); */
    scale: 0.75;
}

.i-l-wind {
    background-image: url("/icon/list/wind.png");
    /* filter: grayscale(); */
    scale: 0.75;
}

.blocklyFlyoutDiv {
    margin: 0 !important;
    translate: 0 0 !important;
}

@media (max-width: 1000px) {
    .blocklyToolbox {
        min-width: 0px !important;
        width: 60px !important;
        height: calc(100% - 75px) !important;
        overflow-x: hidden !important;
    }

    .blocklyScrollbarHandle {
        scale: 0.4 !important;
    }

    .blocklyToolboxCategory {
        height: 60px !important;
    }

    .icon_category {
        height: 60px;
        width: 60px;
    }

    .icon_list {
        height: 60px;
        width: 60px;
    }
}